.gradle
/.idea/*
/.idea/workspace.xml
/.idea/libraries
/app/build/*
/app/src/main/res/*
!app/src/main/res/layout/
/app/src/androidTest/*
/app/src/test/*
/build
/local.properties
.DS_Store
/captures
/gradle
*.iml
*.gradle
*.gitgnore
*.pro
*.properties
*.bat
gradlew
.gitignore