*.iml
*.gradle
*.gitgnore
*.pro
*.properties
*.bat
.DS_Store
gradlew
/.gradle/
/.idea/
/app/.gitignore
/app/build/
/app/src/androidTest/
/app/src/test/
/app/src/main/res/drawable/
/app/src/main/res/menu/
/app/src/main/res/mipmap-hdpi/
/app/src/main/res/mipmap-mdpi/
/app/src/main/res/mipmap-xhdpi/
/app/src/main/res/mipmap-xxhdpi/
/app/src/main/res/values/
/app/src/main/res/values-v21/
/app/src/main/res/values-w820dp/
/build
/gradle